.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 850px;
    position: relative;
    top: 56px;
    background: url("/left.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heroContent {
    position: absolute;
    top: 10vh;
    left: 6vw;
    z-index: 3;
}

.heroContent h1{
    color: var(--dark);
    font-size: 4rem;
    line-height: 80px;
}

.heroContent h2{
    color: var(--red);
    font-size: 1.8rem;
    position: relative;
    top: -30px;
}

.buttons {
    margin-top: 80px;
}

.buttons p{
    border: 2px solid var(--dark);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
}

.buttons p:nth-child(2){
    color: var(--red);
    border-color: var(--red);
}

.addon {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
    position: relative;
}

.rightHero img {
    width: 600px;
    height: 800px;
    position: absolute;
    right: 0;
}

/* .leftHero {
    background: url("/left.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rightHero {
    background: url("/left.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
} */


.phases {
    width: 985px;
    margin: 30px auto;
    position: relative;
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phaseOne, .phaseTwo {
    height: 220px;
    width: 450px;
    background: #FFFFFF;
    border: 3px solid #D21C0E;
    box-sizing: border-box;
    box-shadow: 0px 11px 77px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    text-align: center;
}

.phaseOne .upper, .phaseTwo .upper {
    color: var(--red);
    border-bottom: 1px solid rgba(209, 209, 209, 0.685);
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 15px;
    margin-top: 15px;
}

.phaseOne h4{
    font-size: 1.4rem;
}

.phaseTwo .down{
    margin-top: 40px;
}

.phaseTwo .down p {
    padding: 0 100px;
}

.sectionOne {
    background: url("/sectionImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    position: relative;
    top: 30px;
}

.sectionContent {
    width: 1240px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.sectionContent h1 {
    color: white;
    text-decoration: underline;
    font-size: 2.2rem;
}

.sectionGrid {
    display: grid;
    position: relative;
    top: 90px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

.sectionRight {
    position: relative;
    top: -40px;
}

.criteria {
    display: flex;
    align-items: center;
    color: white;
    height: 80px;
    margin-top: 35px;
    text-align: start;
    width: 520px;
}

.criteria:nth-child(1){
    margin-top: 0px;
}

.number {
    color: var(--red);
    padding: 15px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 50%;
    background: white;
}
.criteria p {
    margin-left: 15px;
}

.sectionDecoration {
    position: absolute;
    right: 0;
    top: 20px;
}